body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Inter Tight', Arial, Helvetica, cursive;
}

main{
  flex:auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}


/*css for everything inside header*/
header {
  background-color: black;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}


/*404 msg spacing*/
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  color: white;
  font-size: clamp(64px, 1vw, 128px);
}

/*header navigation bar*/
.nav-bar ul{
  list-style: none;
  display:flex;
  justify-content: space-between;
}

/*title font, color and size*/
.title{
  display: flex;
  margin: 0;

  font-family: 'Valorant', Arial, Helvetica, cursive;
  font-size: 50px;
  text-decoration: none;
  color: white;
}

/*spacing and colors for header nav bar links*/
.nav-bar ul a{
  text-decoration: none;
  color: white;
  font-size: 18px;

  padding-right: 20px;
  padding-left: 20px; 
  padding: 10px;
}

/*footer background color*/
footer{
  background-color: black;
}

/*copyright css*/
footer p{
  color: white;

  padding-left: 10px;
}

/*footer nav bar spacing*/
.footer-nav ul{
  list-style: none;

  display: flex;
  justify-content: space-between;
}

/*footer nav list items spacing*/
.footer-nav ul li{
  padding-top: 1rem;
}

/*footer nav list link fonts color and spacing*/
.footer-nav ul a{
  text-decoration: none;
  font-family: 'Inter Tight', Arial, Helvetica, cursive;
  color: white;

  padding: 10px;
  font-size: 15;
}

/*socials spacing*/
footer div a{
  padding: 10px;
  float:right;
}

/*----------------------------------------------*/
/*hovers for header nav footer nav and title*/
.footer-nav ul a:hover{
  background: rgba(160, 158, 158, 0.2);
  border-radius: 6.4px;
}

.nav-bar ul a:hover{
  background: rgba(160, 158, 158, 0.2);
  border-radius: 6.4px;
}

.title:hover{
  color: #EB0029;
}

/*---------------------------------------------*/


